{% include 'headermeta.html' %}

<body id="index" class="home">

  <header class="cabecera">
    <div class="container h-100">

    <!-- Barra de navegación -->
    <nav class="navbar navbar-transparent navbar-expand-lg navbar-dark" id="custom-nav">
          <img class="d-none d-sm-block img-header" src="{{SITEURL}}/theme/images/logo.png" />
          <a class="navbar-brand" href="{{ SITEURL }}/index.html">Python Chile</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          {% for name, d in MENUELEMENTS.items() %}
            {% if not d["children"] %}
              <li class="nav-item">
                <a class="nav-link" href="{{ SITEURL }}/{{ d["url"] }}">{{ d["title"] }}</a>
              </li>
            {% else %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ SITEURL }}/{{ d["url"] }}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ d["title"] }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for _, c in d["children"].items() %}
                <a class="dropdown-item" href="{{ SITEURL }}/{{ c["url"] }}">{{ c["title"] }}</a>
                {% endfor %}
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
    </div>
  </header>

  <!-- Redes Sociales -->
    <!--<div class="mt-5 pt-5 pb-5 redes-sociales">-->
  <div class="redes-sociales">
    <div class="container">
       <div class="row justify-content-md-center">
            {% for name, d in PLATAFORMAS.items() %}
            <div class="col-auto"> <!---lg-8 col-md-10 mx-auto">-->
                <a href="{{ d["url"] }}">
                  <i class="fab {{ d["icon"] }} fa-2x fa-inverse"></i>
                </a>
            </div>
            {% endfor %}

            {% for name, d in REDES.items() %}
            <div class="col-auto"> <!---lg-8 col-md-10 mx-auto">-->
                <a href="{{ d["url"] }}">
                  <i class="fab {{ d["icon"] }} fa-2x fa-inverse"></i>
                </a>
            </div>
            {% endfor %}
       </div>
    </div>
  </div>

  <div class="pt-5 pb-5 blog-entries">
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
  </div>

  {% include 'footer.html' %}

</body>
</html>
