{% include 'headermeta.html' %}

<body id="index" class="home">

  <header class="cabecera-index">
    <div class="container h-100">

    <!-- Barra de navegación -->
    <nav class="navbar navbar-transparent navbar-expand-lg navbar-dark" id="custom-nav">
      <a class="navbar-brand" href="{{ SITEURL }}/index.html">Python Chile</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          {% for name, d in MENUELEMENTS.items() %}
            {% if not d["children"] %}
              <li class="nav-item">
                <a class="nav-link" href="{{ SITEURL }}/{{ d["url"] }}">{{ d["title"] }}</a>
              </li>
            {% else %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ SITEURL }}/{{ d["url"] }}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ d["title"] }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for _, c in d["children"].items() %}
                <a class="dropdown-item" href="{{ SITEURL }}/{{ c["url"] }}">{{ c["title"] }}</a>
                {% endfor %}
                </div>
              </li>
            {% endif %}
          {% endfor %}
          <!--
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          -->
        </ul>
      </div>
      <!--
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
      </form>
      -->
    </nav>

    <div class="container">
      <div class="row justify-content-md-center vauto">
        <div class="d-none d-sm-block col-md-3 col-sm-4 text-center">
          <img class="img-responsive" style="width=70%" src="{{SITEURL}}/theme/images/logo.png" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12 text-left vauto">
          <h1 class="font-weight-light">{{ SITENAME }}</h1>
          <p class="lead">{{ SITESUBTITLE }}</p>
          <!-- Redes -->
          <div class="pt-3 pb-4">
            <div class="container">
               <div class="row justify-content-md-start">
                    {% for name, d in REDES.items() %}
                    <div class="col-auto"> <!---lg-8 col-md-10 mx-auto">-->
                        <a href="{{ d["url"] }}">
                          <i class="fab {{ d["icon"] }} fa-2x fa-inverse"></i>
                        </a>
                    </div>
                    {% endfor %}
               </div>
            </div>
          </div>

        </div>
      </div>
        </div>
    </div>
  </header>

  <!-- Plataformas -->
  <div class="pt-3 pb-4 plataformas">
    <div class="container">
       <div class="row justify-content-md-center">
            <div class="col-auto">
            <h4 class="text-center text-white pt-2">¡Ponte en contacto con la comunidad en Discord y Telegram!</h4>
            </div>
            {% for name, d in PLATAFORMAS.items() %}
            <div class="col-auto"> <!---lg-8 col-md-10 mx-auto">-->
                <a href="{{ d["url"] }}">
                  <i class="fab {{ d["icon"] }} fa-3x fa-inverse"></i>
                </a>
            </div>
            {% endfor %}
       </div>
    </div>
  </div>

  <!-- Python en Español -->
  <div class="pt-2 pb-2 python-en-espanol">
    <div class="container">
       <div class="row justify-content-md-center">
            <div class="col-1 text-center">
              <img style="width: 40px;" src="images/python_en_espanol.png" />
            </div>
            <div class="col-7 text-start vauto" style="color: #fdc130;">
              <h5 class="vauto" style="font-size: 95%;">
              No olvides unirte también a la comunidad hispanohablante más grande del mundo.
              </h5>
            </div>
            <div class="col-3 text-begin vauto pr-5">
              <div class="discord">
                <a href="https://discord.gg/35E3Ph7Fez">
                  <button class="btn btn-primary valign size-h4">
                    <i class="fab fa-discord fa-2x" aria-hidden="true"></i>
                    <span>Python en Español</span>
                  </button>
                </a>
              </div>
            </div>
       </div>
    </div>
  </div>

  <!-- Entradas Blog -->
  {% block content %}
  {% endblock %}


  {% include 'footer.html' %}
</body>
</html>
