
    <div class="col-md-4 col-lg-4 mb-5">
      <div class="card h-100">
        <a href="{{ SITEURL }}/{{ article.url }}">
        <img class="card-img-top img-fluid  h-100 d-inline-block"
             src="{{ SITEURL }}/images/{{ article.image }}"
             alt="{{ article.title }} Image">
        </a>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ article.title }}</h5>
          <h6 class="card-subtitle text-muted text-right">por
            {% for author in article.authors %}
              <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
          </h6>
          <div class="mt-auto">
          <a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-primary w-100">Ver publicación</a>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="w-30 ml-3">
              <h6 style="font-size: 90%;" class="text-muted text-left">
                <time class="published" datetime="{{ article.date.isoformat() }}">
                  {{ article.locale_date  }}
                </time>
              </h6>
            </div>
            <div class="w-60 mr-3">
              <h6 style="font-size: 90%;" class="text-muted text-right">
              <a class="url fn" href="{{ SITEURL }}/{{ article.category.url }}">#{{ article.category }}</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
