{% extends "base-index.html" %}
{% block content %}
<section id="content">


<!-- Entradas Blog -->
<div class="pt-5 pb-5 blog-entries">
  <div class="container">
    {% block content_title %}
    <h2 class="text-center pt-5" style="color: black;margin-bottom: 10px;">Últimas entradas</h2>
    {% endblock %}
    <!--    <div class="card-deck">-->
      <div class="row">
    {% for article in articles_page.object_list[:3] %}
    <div class="col-md-6 col-lg-4">
      <div class="card h-100">
        <a href="{{ SITEURL }}/{{ article.url }}">
        <img class="card-img-top img-fluid"
             src="{{ SITEURL }}/images/{{ article.image }}"
             alt="{{ article.title }} Image">
        </a>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ article.title }}</h5>
          <div class="mt-auto">
          <a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-primary float-right">Ver publicación</a>
          </div>
        </div>
        <div class="card-footer">
          <h6 class="card-subtitle text-muted text-right">por
            {% for author in article.authors %}
              <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
          </h6>
          <h6 style="font-size: 90%;" class="text-muted text-right">publicado el
          <time class="published" datetime="{{ article.date.isoformat() }}">
            {{ article.locale_date  }}
          </time></h6>
          <h6 style="font-size: 90%;" class="text-muted text-right">
            <a class="url fn" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
      </div>
      <!--    </div>-->
  </div>
</div>

</ol><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
