{% extends "base-index.html" %}
{% block content %}
<section id="content">

<!-- Entradas Blog -->
<div class="pt-5 pb-5 blog-entries">
  <div class="container">
    {% block content_title %}
    {% endblock %}
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-md-9 col-12">
        <h3 class="text-center pb-5 mb-3 titulo-bold">ÚLTIMAS ENTRADAS</h3>
        <div class="row">
          {% for article in dates[:6] %}
           {% include 'card.html' %}
          {% endfor %}
        </div>
      </div>
      <div class="col-md-3 col-12">
        <a class="twitter-timeline" data-lang="es" data-width="300" data-height="600" href="https://twitter.com/pythonchiledev?ref_src=twsrc%5Etfw">Tweets by pythonchiledev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        {% include 'hablemospython.html' %}
      </div>
    </div>
  </div>
</div>

</section><!-- /#content -->

<!-- Patrocinios -->
<section class="fondo-gris pt-5 pb-3">
  <div class="container">
    <div class="text-white pb-3 text-center">
      <h2>Nuestros Patrocinantes</h2>
    </div>
    <div class="mb-3">
      <div class="row d-flex align-items-center">
        <div class="col-md-3"> </div>
        <div class="col-md-6 text-white text-center">
          <p> ¿Te gustaría patrocinar las actividades de la comunidad Python Chile?</p>
          <p> Contáctanos y te contamos como: contacto@pythonchile.cl
        </div>
<!--        
        <div class="col-md-2 text-center">
            <a href="https://it-talenthh.com/" target="_blank">
              <img class="img-fluid" src="images/patrocinantes/logo_ittalent.png" alt="IT-Talent">
            </a>
        </div>
      -->
      </div>
    </div>
  </div>
</section>
{% endblock content %}
