.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-shadow: 1px 1px 2px #000000;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #e1432e;
}

.navbar-dark .navbar-brand {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
}


.cabecera-index {
  color: white;
  height: 50vh;
  min-height: 250px;
  background-image: url("../images/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*
  background: linear-gradient(-45deg, #376d9c, #52a4e7, #0072d6, #0057a8);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  */
}

.cabecera {
  color: white;
  height: 10vh;
  min-height: 90px;
  background-image: url("../images/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cabecera p, h1, h2, h3 {
  text-shadow: 1px 2px 4px #000000;
}

/* Adaptation for small screens */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.7em;
    }
    h3 {
        font-size: 1.4em;
    }
    p {
        font-size: 1em;
    }
    #custom-nav {
        background-color: rgba(0,0,0,0);
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1em;
    }
    p {
        font-size: 0.8em;
    }
}

.img-header {
  height: 5vh;
  min-height: 20px;
  margin-right: 5px;
}

.cabecera-index  {
  height: 30vh;
}

.img-responsive {
  width: 100%;
  max-width: 200px;
}

.entradas-blog {
  background: #e3e3e3;
}

.redes-sociales {
  background: #343a40;
}

.fab:hover {
  color: rgba(255, 67, 46, 1);
}

.patrocinadores {
  color: white;
  background: rgba(255, 67, 46, .9);
}

/* Images from cards with the same height */
.card-img-top {
  width: 100%;
  height: 12vw;
  object-fit: cover;
  max-height: 30vh;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  width: 20rem;
}

.list-inline-item {
  margin: 15px 30px 0px 30px;
}

/* Footer */
.footer{
  /*background: #376d9c;*/
  background: #0057a8;
  color:white;
}

.enlaces ul {
    list-style-type: none;
}

.enlaces  li a{
    color: white;
    transition: color .2s;
}
.enlaces li a:hover{
      text-decoration:none;
      color: rgba(255, 67, 46, 1);
}

.footer a {
    color:white;
    transition: color .2s;
}

.contacto i {
  /* Reduce icons size */
  font-size: 18px;
}

.copyright p {
  border-top:1px solid rgba(255,255,255,.1);
}

.published {
  color: #0157a8;
  font-size: 0.9em;
}

.author {
  font-style: italic;
}

.entry-subtitle {
  color: #58636d;
  border-left:  5px solid rgba(225, 45, 27, 0.8);
  padding-left: 5px;
  margin-left: 5px;
}

blockquote {
  color: #58636d;
  border-left:  5px solid rgba(1, 87, 168, 0.8);
  padding-left: 5px;
  background-color: #f5f8f8;
}

.vauto {
  margin-top: auto;
  margin-bottom: auto;
}
